@media (max-width: 599px) {
    .wrapper {
        width: 100%;
        padding: 0;
    }

    .half {
        width: 100%;
    }

    .half:first-child > img {
        float: none;
        width: 100%;
    }

    .bg-img {
        background-image: url(../images/vendedor-makro.jpg);
        background-size: cover;
        background-position: center;
        height: 330px;
        display: inline-block;
        width: 100%;
        box-sizing: border-box;
    }

    .half:first-child > div:nth-child(2) {
        width: 100%;
    }

    .boton {
        display: block;
        margin: auto;
        margin-bottom: 10px;
        text-align: center;
        color: white;
        background-color: #f53131;
        padding: 12px 20px;
        box-sizing: border-box;
        width: 85%;
        border-radius: 10px;
    }

    .boton:last-child {
        margin-bottom: 0;
    }

    .boton2 {
        display: block;
        margin: 0 auto;
        text-align: center;
        color: white;
        background-color: #f8ba2f;
        padding: 10px 20px;
    }

    .half:nth-child(2) {
        background-color: #ffffff;
        font-size: 0;
        width: 100%;
        margin: auto;
        margin-top: 20px;
    }

    .half:nth-child(2) a {
        font-size: 16px;
        text-decoration: none;
    }
}
